# Node modules directory
node_modules/

# Log files
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp

# Backup files
*.bak
*.tmp

# Systemd service files (if you store them in the project directory)
*.service

# Ignore public/uploads (if using file uploads in your app)
public/uploads/
